
<h1>Welcome to the home page</h1>
<% if(user) { %>
	<p>ya <%= user.name %></p>
<% } %>

<ul class="list-group">
	<% users.forEach(function(user){%>
  <li class="list-group-item"><h3>Name: <%= user.name %></h3><p>E Mail: <%= user.email %></p></li>
	<% }); %>
</ul>


